hornetq
antlr
apache
bouncycastle
codehaus
dom4j
eclipse
fusesource
glassfish
hibernate
jberet
jboss
jdom
jgroups
joda
jsoup
kohsuke
omg
opensaml
osgi
picketbox
picketlink
slf4j
scannotation
wildfly
infinispan
jacorb
javassist
yaml
jaxen
